* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
}
.fersonal{
    background-color: #F6F6F6;
}
.fersonal_container{
    max-width: 83%;
    margin: 0px auto;
    overflow: hidden;
    
}
.fersonal_container-left{
    width: 25%;
    float: left;
    background-color: white;
    border-radius: 10px ;
    margin: 2% 2% 2% 2%;
}
.fersonal_container-left h2{
    margin: 5% 0% 10% 4%;
}
.fersonal_container-left--info a{
    display: block;
    margin: 0% 0% 10% 4%;
}
.fersonal_container-right{
    width: 70%;
    float: left;
    margin-top: 2%;
    
}
.fersonal_container-right--header{
    width: 100%;
    margin-bottom: 3%;
    display: inline-block;
}

.fersonal_container-right--header--avatar{
    width: 30%;
    height: 160px;
    display: inline-block;
    background-color: blueviolet;
    border-radius: 10px 10px 0px 10px;
}

.fersonal_container-right--header--content{
    width: 70%;
    float: right;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 3.5%;
    border-radius: 0px 10px 10px 0px;
}
.fersonal_container-right--header--content p{
    margin-bottom: 20%;
    margin-top: 5%;
    font-size: 13px;
}
.content{
    width: 20%;
    display: inline-block;
    text-align: center;
    margin: 5% 5% 0% 5%;
    
}
.fersonal_container-right--fooder--content{
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    margin-bottom: 5%;
}
