* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carrt {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
}


/* header */
.cart-header {
    width: 100%;
    height: 75px;
    background-color: white;
}

.cart_header_container{
    width: 85%;
    height: 75px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_header_left{
    width: 30%;
    height: 75px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* tùy chỉnh logo */
.cart-header-logo {
    width: 20%;
    text-align: center;
    border-right: solid 1px #777;
}

/* tiêu đề của header */
.cart-header-test {
    width: 77%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    color: #00A84F;
    align-items: center;
}

.cart-header-stage{
    width: 40%;
}

/* tùy chỉnh slide tiến trình mua hàng */
.cart-header-stage-wrapper {
    width: 100%;
}

/* chỉnh kich thước của slide tiến trình mua hàng */
.cart-header-stage-wrapper-container {
    position: relative;
    width: 100%;
    height: 100px;
}

/* vị trí nội dung tiến trình mua hàng */
.cart-header-stage-wrapper-container ul {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    padding-top: 15px;
    margin-top: -40px;
}


/* tùy chỉnh chữ trong slide tiến trình mua hàng */
.cart-header-stage-wrapper-container li {
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: middle;
    height: 59px;
    position: relative;
}

/* tùy chỉnh chữ trong slide tiến trình mua hàng */
.cart-header-stage-wrapper-container-step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* tùy chỉnh các ô trong slide tiến trình mua hàng */
.cart-header-stage-wrapper-container-step1::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: deepskyblue;
    margin: auto;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: 75px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

.cart-header-stage-wrapper-container-step2::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    margin: auto;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: 75px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

.cart-header-stage-wrapper-container-step3::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    margin: auto;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: 75px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

.cart-header-stage-wrapper-container-step4::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    margin: auto;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: 75px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

/* tùy chỉnh line tiến trình mua hàng */
.cart-header-stage-wrapper-container-line {
    width: 75%;
    margin: auto;
    background: #eee;
    height: 5px;
    position: absolute;
    left: 11%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

/* tùy chỉnh kích thước đường line xanh */
.cart-header-stage-wrapper-container-line-process {
    content: "";
    width: 18%;
    height: 100%;
    background: deepskyblue;
    background: linear-gradient(to right, deepskyblue 0%, #2ea37b 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

/* kết thúc header */

.cart-main {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart_container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* khối div bên trái */
.cart-main-left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* khối div tiêu đề */
.cart-main-left-title {
    background: white;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

.cart-main-left-title-content {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.cart-main-left-title-check {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cart-main-left-title-check input {
    width: 15px;
    height: 15px;
    padding-top: 10px;
}

.cart-main-left-title-check p {
    margin-left: 10px;
}


/* list sản phẩm */
.cart-main-left-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.cart-main-left-list-card {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
}

.cart-main-left-list-card-checkbox {
    width: 20px;
    height: 20px;
    margin-top: 60px;
}

.cart-main-left-list-card-image {
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

.cart-main-left-list-card-content {
    width: 160%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.cart-main-left-list-card-content-name {
    font-size: 15px;
    font-weight: 300;
}

.cart-main-left-list-card-content-type {
    background-color: rgb(217, 217, 217);
    width: 115px;
    border-radius: 5px;
    color: rgb(53, 53, 53);
    padding: 5px;
    margin-top: 5px;
    font-weight: 200;
    font-size: 13px;
}

.cart-main-left-list-card-content-price {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.cart-main-left-list-card-content-cod {
    background-color: rgb(217, 217, 217);
    width: 42px;
    padding: 3px;
    font-weight: 400;
    color: red;
    border-radius: 5px;
}

.cart-main-left-list-card-function {
    width: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
}

.cart-main-left-list-card-function-button {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cart-main-left-list-card-function-button-reduce {
    width: 30px;
    height: 20px;
    font-size: 40px;
    margin-top: -4px;
    border: none;
    background: white;
}

.cart-main-left-list-card-function-button-num {
    font-size: 30px;
    background: rgb(217, 217, 217);
    padding: 5px;
    border-radius: 5px;
}

.cart-main-left-list-card-function-button-more {
    width: 30px;
    height: 20px;
    font-size: 30px;
    margin-top: 5px;
    border: none;
    background: white;
}

.cart-main-left-list-card-function-icon {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}



/* khối div bên phải */
.cart-main-right {
    width: 30%;
    height: 300px;
    padding: 30px;
    margin-bottom: 160px;
    border-radius: 15px;
    background-color: white;
}

.cart-main-right-title {
    font-size: 25px;
    font-weight: 700;
}

.cart-main-right-subtotal {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-bottom: solid rgb(146, 146, 146) 1px;
    padding-bottom: 20px;
}

.cart-main-right-subtotal-title {
    width: 50%;
    font-size: 15px;
    font-weight: 300;
}

.cart-main-right-subtotal-content {
    width: 50%;
    text-align: right;
    font-size: 15px;
    font-weight: 300;
}

.cart-main-right-total {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cart-main-right-total-title {
    width: 50%;
    font-size: 17px;
    font-weight: 600;
}

.cart-main-right-total-content {
    width: 50%;
    text-align: right;
    font-size: 17px;
    font-weight: 600;
}

.cart-main-right-button {
    width: 90%;
    margin-left: 5%;
    background: #63A3F7;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
}