* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*-------------------căn lề-------------------*/
.home_container {
  display: flex;
  justify-content: center;
  width: 85%;
  padding: 0;
  margin: 0 auto;
}

.open_nav{
  display: none;
}

.slick-next::before,
.slick-prev::before {
  display: none;
}
.slick-prev::before {
  display: none;
}
/* ---------------------------------Banner--------------------------- */

/* -------------căn lề cho banner----------- */
.banner_container {
  margin-top: 67px;
  width: 100%;
  height: 91vh;
}

.home-banner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slider__navi {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
}

.slider__navi a {
  display: block;
  height: 6px;
  width: 20px;
  margin: 20px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: rgba(232, 230, 254, 0.2);
}

.slider__navi a.active {
  background: rgba(255, 255, 255, 1);
}

.flex__container {
  position: absolute;
  top: 3;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 90vh;
  width: 100%;
  z-index: 1;
}

.flex__container.flex--active {
  z-index: 2;
}

.text--sub {
  font-size: 12px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.text--big {
  font-family: "Poppins", sans-serif;
  font-size: 7.5em;
  font-weight: 700;
  margin-left: -8px;
}

.text--normal {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 22px;
  margin-top: 25px;
}

.text__background {
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 20%;
  top: 5%;
  right: 0;
  color: rgba(0, 0, 0, 0.05);
  font-size: 50px;
  font-weight: 700;
  transform: rotate(89deg);
}

.text__background p {
  transform: rotate(89deg);
}

.flex__item {
  height: 91vh;
  color: #fff;
  transition: transform 0.1s linear;
}

.flex__item--left {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 60%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.flex__item--right {
  width: 40%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
  background: #3e9fe6;
}

.flex--piplup .flex__item--right {
  background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
  background: #f8d41f;
}

.flex--pikachu .flex__item--right {
  background: #f4ecc5;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
  background: #f64f37;
}

.flex--blaziken .flex__item--right {
  background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
  background: #476089;
}

.flex--dialga .flex__item--right {
  background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
  background: #424242;
}

.flex--zekrom .flex__item--right {
  background: #a7bcbb;
}

.flex__content {
  margin-left: 80px;
  width: 80%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
  position: absolute;
  right: 0;
  max-width: 40%;
  min-width: 10%;
  width: 100%;
  object-fit: cover;
  top: 0;
  /* max-height: 600px; */
  height: 91vh;
  min-height: 100px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.43s 0.6s,
    transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}

.flex__container.animate--start .pokemon__img {
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
  transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.flex__container.animate--end .pokemon__img {
  /* transform: translate3d(200px, 0, 0); */
  opacity: 0;
}

/* -----------------------------kết thúc banner----------------------- */

/* -----------------------------------main---------------------------- */

.home-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

/* --------------tùy chỉnh cho phần giới thiệu công ty-------------- */
.home-main-introduce {
  margin: 0 auto;
  width: 88.5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

/* -------------tùy chỉnh phần thông tin giới thiệu công ty------------ */
.home-main-introduce-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* ------------tiêu đề của phần giới thiệu công ty-------------- */
.home-main-introduce-content-frontpager {
  width: 98%;
  text-align: left;
  left: 0;
  font-size: 20px;
  font-weight: 700;
  border-left: #3498db 10px solid;
  padding-left: 10px;
}

/* -------------nội dung giới thiệu về công ty----------------- */
.home-main-introduce-content-title {
  width: 70%;
  height: 190px;
  margin-top: 10px;
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* ------------chỉnh thẻ p cho phần nội dung----------------- */
.home-main-introduce-content-title p {
  line-height: 1.5;
}
.home-main-introduce-button {
  width: 100%;
  display: flex;
}

.btn_introduce::before,
.btn_introduce::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #54E6E7
}

.span_introduce::before,
.span_introduce::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #54E6E7
}

.btn_introduce:hover{
  background-color: white;
  color: black;
}

.btn_introduce:hover::before,
.btn_introduce:hover::after {
  width: 100%;
}

.btn_introduce:hover .span_introduce::before,
.btn_introduce:hover .span_introduce::after {
  height: 100%;
}
 
.btn_introduce::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.btn_introduce .span_introduce::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.btn_introduce::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.btn_introduce .span_introduce::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
@import url('https://fonts.googleapis.com/css2?  family=Nunito+Sans:wght@200&display=swap');
.btn_introduce {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background: #54E6E7;
  transition: all 0.5s linear;

}

.span_introduce {
  display: block;
  padding: 15px 35px;
  /* font-family: Public Sana, sans-serif; */
}

/* ------------phần hình ảnh công ty------------------------ */
.home-main-introduce-image {
  width: 40%;
}

/* ------------chỉnh thẻ img trong phần hình ảnh công ty--------- */
.home-main-introduce-image-style {
  width: 100%;
  float: right;
}

/* ---------------------slide1---------------------- */
.home-main-slide {
  width: 100%;
  background-image: url(http://cuanhom12011.demo.xemwebmau.com/wp-content/uploads/2020/01/process-bg.jpg);
  margin-top: 50px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.slider_fill{
  background-color: rgba(12, 145, 89, 0.6);
}

/* ---------------chỉnh kích thước nút tiến lùi------------------ */
.home-main-slide .slick-arrow.slick-prev,
.home-main-slide .slick-arrow.slick-next {
  display: none;
  position: absolute;
  cursor: auto;
}

/* ------------------vị trí nút tiến--------------- */
.home-main-slide .slick-next {
  right: -3%;
}

/* ------------------vị trí nút lùi--------------- */
.home-main-slide .slick-prev {
  left: -3%;
  padding-left: 10px;
}

.slider_product_title{
  padding-top: 50px;
  font-size: 27px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.line_slider_product{
  width: 100%;
  position: absolute;
  top: -45px;
}

.line_slider_product img{
  width: 100%;
}
/* -----------------chỉnh pading tổng của slide----------- */
.home-main-slide .slick-list {
  width: 100%;
  padding: 7% 0 7% 1%;
}

/* ----------------chỉnh phần chứa item của silde-------------- */
.home-main-slide .slick-slider {
  width: 95%;
  padding: 0 1.5%;
  margin: 0 auto;
}

.slider_card{
  width: 90%;
  margin: 0 auto;
}

.slider_card_title{
  padding-top: 50px;
  font-weight: 600;
  color: white;
}

.slider_card_content{
  padding-top: 20px;
  color: white;
}

/* kích thước item slide */
.home-main-slide-item{
    align-items: center;
    justify-content: center;
}

.home_main_slide_item_imgbg{
  width: 60%;
  height: 160px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* ------------------chỉnh kích thước hình ảnh silde------------- */
.home-main-slide-item-image {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 15px;
  transition: all 0.7s;
}

.home-main-slide-item-image:hover{
  transform: scale(1.1);
}

/* ------------------kết thúc slide1------------------ */

/* -------------------quyền lợi khách hàng--------------- */
.preview {
  margin-top: 50px;
}

.preview_title {
  font-size: 27px;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
}

.preview_content {
  font-size: 15px;
}

.pre_container {
  display: flex;
  width: 77.2%;
  justify-content: space-between;
}

.content-nganh-hoc {
  margin-top: 70px;
  padding-bottom: 70px;
}
.container-nganh-hoc {
  text-align: center;
  position: relative;
  width: 24%;
  height: 320px;
  margin-top: 30px;
}
.container-nganh-hoc img {
  width: 70%;
}
.container-nganh-hoc .top {
  position: relative;
  width: 100%;
}
.container-nganh-hoc .top div img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-nganh-hoc .mid {
  background-color: #e8e8e8;
  width: 85%;
  height: 80%;
  z-index: -1;
  position: absolute;
  top: 11%;
  padding-top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
}
.col-1-nganh-hoc .mid h3 {
  color: #3a5f9a;
}
.container-nganh-hoc .mid ul {
  margin: 20px 30px;
}
.container-nganh-hoc .mid ul li {
  line-height: 1.5em;
  text-align: left;
}
.container-nganh-hoc .bot {
  position: absolute;
  z-index: -2;
  top: 80%;
  width: 70%;
  height: 20%;
  transform: translate(21%, -10%);
}
.col-1-nganh-hoc button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #3a5f9a;
  border-radius: 15px;
}
.col-2-nganh-hoc button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #81cdb3;
  border-radius: 15px;
}
.col-2-nganh-hoc .mid h3 {
  color: #81cdb3;
}
.col-3-nganh-hoc button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #f4a27e;
  border-radius: 15px;
}
.col-3-nganh-hoc .mid h3 {
  color: #f4a27e;
}
.col-4-nganh-hoc button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #3fc9a2;
  border-radius: 15px;
}
.col-4-nganh-hoc .mid h3 {
  color: #3fc9a2;
}
.col-5-nganh-hoc button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #f4a27e;
  border-radius: 15px;
}
.col-5-nganh-hoc .mid h3 {
  color: #f4a27e;
}
.children-flex-container {
  display: none;
}
.text-nganh-hoc {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}
/* --------------kết thúc phần quyền lợi khách hàng-------------- */

/* -------------------slide2 mainintroduce-news------------------- */

/* ------------------căn chỉnh tin tức và sự kiện----------------- */
.home-main-news {
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.home_main_new_title{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 27px;
  font-weight: 700;
}

.home_news_container{
  width: 76%;
  margin: 0 auto;
}

.home_main_new_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main_new_top_big {
  width: 49.5%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.main_new_top_big_background {
  width: 100%;
  height: 300px;
  background-color: #424242;
  border-radius: 5%;
}

.main_new_top_big_background img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  opacity: 30%;
}

.main_news_content {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2%;
  border-radius: 5%;
}

.main_new_top_big_img {
  width: 40px;
  height: 40px;
  background: #f64f37;
  border-radius: 50%;
}

.main_new_top_big_card {
  width: 100%;
  opacity: 0;
  transition: transform 0.2s linear 0.2s, opacity 0.3s linear 0.2s;
}

.main_new_top_big_time {
  width: 100%;
  text-align: left;
  color: rgb(217, 217, 217);
  font-size: 15px;
  padding-top: 125px;
}

.main_new_top_big_title {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

.main_new_top_big_content {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  align-items: center;
  float: right;
  color: white;
}

.number_comment {
  width: 30%;
  display: flex;
  align-items: center;
}

.number_comment_icon {
  width: 17px;
}

.number_comment_icon img {
  width: 17px;
}

.number_coment_content {
  width: 70%;
  font-size: 12px;
}

.main_new_top_big:hover .main_new_top_big_card {
  opacity: 100%;
}

.main_new_top_center {
  width: 24%;
  border-radius: 5%;
  position: relative;
}

.main_new_top_center_background {
  width: 100%;
  height: 300px;
  background-color: #424242;
  border-radius: 5%;
}

.main_new_top_center_background img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  opacity: 30%;
}

.main_new_top_center_content {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4%;
  border-radius: 5%;
}

.main_new_top_center_big_img {
  width: 40px;
  height: 40px;
  background: #f64f37;
  border-radius: 50%;
}

.main_new_top_big_img img{
  width: 100%;
}

.main_new_top_center_big_img img{
  width: 100%;
}

.main_new_top_center_card {
  width: 100%;
  opacity: 0;
  transition: transform 0.2s linear 0.2s, opacity 0.3s linear 0.2s;
}

.main_new_top_center:hover .main_new_top_center_card {
  opacity: 1;
}

.main_new_top_center_big_time {
  width: 100%;
  text-align: left;
  color: rgb(217, 217, 217);
  font-size: 15px;
  padding-top: 100px;
}

.main_new_top_center_title {
  width: 100%;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  color: white;
  margin-top: 2%;
  margin-bottom: 5%;
}

.main_new_top_center_big_content {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  align-items: center;
  float: right;
  color: white;
}

.main_new_top_center_number_comment {
  width: 32%;
  display: flex;
  align-items: center;
}

.main_new_top_center_number_comment_icon {
  width: 15px;
}

.main_new_top_center_number_comment_icon img {
  width: 15px;
}

.main_new_top_center_coment_content {
  width: 70%;
}

.main_new_top_small {
  width: 24%;
  height: 300px;
  background: #3498db;
  border-radius: 5%;
  position: relative;
}

.main_new_top_small_card {
  width: 100%;
  opacity: 0;
  padding-top: 50px;
  transition: transform 0.2s linear 0.2s, opacity 0.3s linear 0.2s;
}

.main_new_top_small:hover .main_new_top_small_card {
  opacity: 1;
}

.main_new_bottom {
  width: 76%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1%;
}

.main_new_bottom_card {
  width: 24%;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* .main_new_bottom_card_image {
  width: 100%;
  height: 28vh;
  border-radius: 20px 20px 0px 0; 
} */

.main_new_bottom_card_user {
  width: 100%;
}

.main_new_bottom_card_image_img{
  width: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -18px;
  justify-content: center;
  align-content: center;
  display: flex;
  object-fit: none;

}

.main_new_bottom_card_image_img_container{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.main_new_bottom_card_image_img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.mmain_new_bottom_card_content{
  width: 78%;
  height: 130px;
  text-align: left;
  margin: auto;
  position: relative;
}

.main_new_bottom_card_time{
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  padding-top: 15px;
}

.main_new_bottom_card_name{
  font-size: 15px;
  width: 100%;
  padding-top: 15px;
}

.main_new_bottom_card_cws{
  position: absolute;
  bottom: 10px;
  right: -10px;
  text-align: right;
  font-size: 15px;
  color: #9b9b9b;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.main_new_bottom_card_comment{
  width: 40px;
  display: flex;
  align-items: center;
}

.main_new_bottom_card_comment_image{
  width: 12px;
}

.main_new_bottom_card_comment_image img{
  width: 12px;
}

.main_new_bottom_card_comment_content{
  padding-left: 4px;
  font-size: 12px;
}







/*  */
.home_backgroud{
  display: block;
    background: repeat fixed 100% url("https://img5.thuthuatphanmem.vn/uploads/2021/09/19/anh-nen-toi-4k_100313800.jpg");
}

.scroll{
  margin-bottom: 3%;
  border-radius: 50%;

}

