* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title{
    margin-top: 130px;
}

.title_container {
    margin: 0 auto;
    width: 92%;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
}

.title_container--text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title_container--text .CT {
    font-size: 20px;
    margin-bottom: 5%;
}

.title_container--text--name--content{
    display: flex;
    flex-direction: column;
    margin: 2% 0% 2% 0%;
}
.title_container--text--name--content p{
    font-size: 13px;
}
.title_container--text--name--content--group{
    
    display: flex;
    padding: 3% 0% 3% 0%;
}
.name{
    display: flex;
    width: 25%;
}
#diachi{
    width: 70%;
}
.Br{
    width: 80%;
    height: 1px;
    background-color: #d6d6d6;
}

/* ---------------- input ---------------- */



.input_intro {
  position: relative;
  width: 100%;
  margin: 0 0 0.5% 0;
}
.intro__input {
  width: 100%;
}
.intro__input:focus ~ .intro__label,
.intro__input:not(:placeholder-shown).intro__input:not(:focus) ~ .intro__label {
  top: -0.2rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.input_intro input {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 17px 16px;
}

.input_intro input:hover {
  border-color: #797b7c;
}

.input_intro input:focus {
  border-color: #2065d1;
}

.input_intro label {
  position: absolute;
  left: 0.9rem;
  top: 14px;
  padding: 3px 5px;
  color: #797b7c;
  font-size: 16px;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: white;
}

.intro__input:focus ~ .intro__label,
.intro__input:not(:placeholder-shown).intro__input:not(:focus) ~ .intro__label {
  top: -0.7rem;
  font-size: 1rem;
  left: 0.8rem;
}


.title_container__input {
    display: flex;
    
    flex-direction: column;
    text-align: center;
    width: 40%;
}
.title_container__input__Textfield__name{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4%;
}

.title_container__input__buttom {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title_container__input__buttom button {
    width: 100%;
    padding: 3% 0;
    background-color: #63A3F7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}



.bando {
    width: 100%;
    background-color: #F6F6F6;
}

.bando_khobau {
    width: 83%;
    margin: 0 auto;
    overflow: hidden;
}

.bando iframe {
    width: 100%;
    height: 450px;
    margin: 5% 2% 5% 2%;
}