.container{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center;
}

/* -------------------logo--------------- */
.logo_form{
    width: 4%;
    display: flex;
    align-items: center;  
    margin-top: 3%;
    margin-left: 3%;
}
.logo{
    width: 80%;
}
.name_logo{
    font-size: 20px;
    margin: 5px;
}

/* -----------------------form login--------------------- */

.login{
    margin: 0 auto;     
    width: 27%;     
    min-height: 70%;     
    top:50%;     
    left: 50%;     
    transform: translate( -50%, -50%);     
    display: inline;   
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 60px 40px;
    /* width: 27%; */
    display: flex;
    flex-direction: column;
}

.form_login_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    align-items: center;
}

.title_content{
    width: 50%;
    font-size: 20px;
    font-weight: 750;
    color: #707070;
}

.nouser{
    width: 50%;
    text-align: right;
    color: #63A3F7;
    cursor: pointer;
    font-size: 13px;
}

.form_login_input{
    width: 100%;
    margin-bottom: 5%;
}

.form_login_forgetmenot{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #707070;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.form_login_forgetmenot_left{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: -12px;
    justify-content: space-between;
}

.title_chb{
    width: 80%;
    font-size: 13px;
}

.form_login_forgetmenot p{
    width: 35%;
    text-align: right;
    cursor: pointer;
    font-size: 13px;
}


.form_login_btn{
    width: 100%;
    background-color: #63A3F7;
    color: white;
    padding: 3% 2%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 7%;
}

.login_or{
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 7%;
    color: #707070;
}

.form_login_with{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn_gg{
    width: 31%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #d0d0d0 2px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.logo_gg{
    width: 20%;
    background-image: url('../assets/icon_gg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.title_gg{
    font-size: 13px;
}

.btn_tw{
    width: 31%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #d0d0d0 2px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.logo_tw{
    width: 20%;
    background-image: url('../assets/logo_tw.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.title_tw{
    font-size: 13px;
}

.btn_fb{
    width: 31%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #d0d0d0 2px solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.logo_fb{
    width: 20%;
    background-image: url('../assets/logo_fb.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.title_fb{
    font-size: 13px;
}

.footer_login{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #707070;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.footer_login_content{
    width: 80%;
    padding-bottom: 3px;
    margin: 0 auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.about_we{

}

.about_line{
    width: 1px;
    height: 20px;
    background: #ff0000;
    margin: 0 10px;
}