* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
}
.fersonal{
    background-color: #F6F6F6;
}
.fersonal_container{
    max-width: 87%;
    margin: 0px auto;
    overflow: hidden;
    
}
.fersonal_container-left{
    width: 25%;
    float: left;
    background-color: white;
    border-radius: 10px ;
    margin: 2% 2% 2% 2%;
}
.fersonal_container-left h3{
    margin: 7% 0% 13% 10%;
}
.fersonal_container-left--info--tabs{
    cursor: pointer;
    margin: 10% 0% 5% 10%;
    display: flex;
    text-align: left;
    font-size: 15px;
}
.fersonal_container-left--info a{
    display: block;
    margin: 0% 0% 10% 4%;
}
.fersonal_container-right{
    width: 70%;
    margin-top: 2%;
    display: inline-block;
}
.fersonal_container-right--header{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.fersonal_container-right--header--avatar{
    width: 30%;
    background-color: blueviolet;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}

.fersonal_container-right--header--content{
    width: 72%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 3.5%;
    margin-left: -2%;
    border-radius: 0px 10px 10px 0px;
    
}
.fersonal_container-right--header--content p{
    margin-bottom: 20%;
    margin-top: 5%;
    font-size: 13px;
}
.content{
    width: 33%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 5% 0% 0% 0%;
}
.fersonal_container-right--fooder--content{
    border-radius: 15px;
    margin-bottom: 5%;
}
.contentt{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
}
.ac{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
