* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------------------căn lề----------------- */
.product_container {
  width: 83%;
  padding: 0;
  margin: 0 auto;
}

/* --------------------------------------------main-------------------------------------------- */
.product-main {
  margin-top: 70px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

/* -----------------------------------chỉnh phần trên của main----------------------------------- */
.product-main-top {
  width: 100%;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* ---------------------chỉnh phần bên trái của main-top--------------- */
.product-main-top-left {
  width: 24%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

/* ---------------------------tiêu đề của phần bên trái------------------- */
.product-main-top-left-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #63a3f7;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 4%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* ----------------chỉnh thẻ p trong phần tiêu để bên trái------------- */
.product-main-top-left-title p {
  margin-left: 2%;
}

/* ----------------phần nội dung của phần bên trái của main_top------------- */
.product-main-top-left-content {
  width: 100%;
  height: 210px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: scroll;
}

.list_type{
  cursor: pointer;
  width: 100%;
  padding: 10px 10px 10px 15px;
}

.list_type:hover{
  transform: scale(1.05);
  color: #63a3f7;
}

/* ----------------------------------hết phàn bên trái của main_top-------- */

/* ----------------------------------phần giữa của main_top------------------- */
.product-main-top-center {
  width: 47%;
  border-radius: 15px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -----------------------silde phần giữa của main-top--------------- */
.product-main-top-center-slide {
  width: 100%;
  border-radius: 15px;
}

/* -------------------------chỉnh boder cho silder-------------------- */
.product-main-top-center-slide .slick-list {
  border-radius: 15px;
}

/* ---------------vị trí nút tiến------------- */
.product-main-top-center-slide .slick-next {
  right: 10px;
}
/*-------------- vị trí nút lùi----------- */
.product-main-top-center-slide .slick-prev {
  left: 10px;
  display: inline;
  z-index: 999;
}

/* ----------------------chỉnh hình ảnh cho slider----------------------- */
.product-main-top-center-slide-img {
  width: 100%;
  height: 251px;
  border-radius: 15px;
}

/* --------------------phần list thuộc phần giữa của main_top------------------- */
.product-main-top-center-content {
  width: 100%;
  background-color: #63a3f7;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 5px;
}

/* ------------------------------tiêu đề của phần list------------------------- */
.product-main-top-center-content p {
  color: white;
  padding: 1.5% 0 1% 4.5%;
}

/* ------------------------------tùy chỉnh list------------------------------- */
.product-main-top-center-content-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 1.5%;
}

/* --------------------------tùy chỉnh item của list-------------------------- */
.product-main-top-center-content-list-item {
  width: 25%;
}

/* -------------------------tùy chỉnh thẻ img trong item của list---------------- */
.product-main-top-center-content-list-item-img {
  width: 100%;
  height: 54vh;
}



/* ----------------------------------phần bên phải của main_top----------------- */
.product-main-top-right {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ----------------------------phần người dùng--------------------------------- */
.product-main-top-right-user {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #fff6f0;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------------icon-------------------- */
.img_user_product {
  width: 30%;
}

/* --------------nội dung của phần người dùng------ */
.product-main-top-right-user-information {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

/* ------tiêu đề của nội dung người dùng------ */
.product-main-top-right-user-information-title {
  width: 100%;
  font-size: 20px;
}

/* -----phần button của nội dung người dùng------ */
.product-main-top-right-user-information-button {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* ---chỉnh button bên trái--- */
.product-main-top-right-user-information-button-left {
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  font-size: 12px;
  border-radius: 15px;
  padding: 8px;
}

/* ---chỉnh button bên phải--- */
.product-main-top-right-user-information-button-right {
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  font-size: 12px;
  border-radius: 15px;
  padding: 8px;
  margin-left: 5%;
}

.product_service{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  color: #2065b1;
  background-color: #e9f2ff;
  padding: 10px 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --------------tiêu đề của chính sách dịch vụ khách hàng------------ */
.product-main-top-right-title {
  width: 90%;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 7px;
  text-align: center;
}

/* -----------------nội dung dịch vụ khách hàng--------------------- */
.product-main-top-right-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.product-main-top-right-service-top {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.product-main-top-right-service-top-left {
  width: 45%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-items: center;
  padding: 6px;
}

.product-main-top-right-service-top-left p{
  padding-left: 2px;
}

.product-main-top-right-service-top-right {
  width: 45%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 6px;
  align-items: center;
}

.product-main-top-right-service-top-right p{
  padding-left: 2px;
}

.product-main-top-right-service-bottom {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.product-main-top-right-service-bottom-left {
  width: 45%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 6px;
  align-items: center;
}

.product-main-top-right-service-bottom-left p{
  padding-left: 2px;
}

.product-main-top-right-service-bottom-right {
  width: 45%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 6px;
  align-items: center;
}

.product-main-top-right-service-bottom-right p{
  padding-left: 2px;
}

/* ----------------- kết thúc nội dung dịch vụ khách hàng--------------------- */

/* ------------------------------hình ảnh------------------------------------ */
.product-main-top-right-image {
  width: 90%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.product-main-top-right-image img {
  width: 100%;
  height: 200px;
}
/* ------------------------------------------kết thúc phần trên của main----------------------------- */

/* -------------------------------------------phần list sản phẩm-------------------------------------- */
.product-main-list {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

/* --------------------------------tiêu đề----------------------------------- */
.product-main-list-title {
  width: 100%;
  margin-top: 50px;
  background-color: #63a3f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* --------------------------phần item list sản phẩm------------------------ */
.product-main-list-content {
  width: 103%;
}
.product-main-list-content-card {
  width: 23.5%;
  margin: 1% 1% 0 0;
  display: flex;
  flex-direction: column;
  float: left;
  color: rgb(63, 63, 63);
  position: relative;
  border-radius: 5px;
}

.reduce {
  width: 80px;
  height: 80px;
  right: -15px;
  top: -10px;
  position: absolute;
}

.reduce_background {
  width: 70px;
  height: 70px;
  position: relative;
  background-image: url("../assets/decoration.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reduce_content {
  text-align: center;
  color: #e2f0f9;
  margin-top: -10px;
  font-weight: 800;
  font-size: 10px;
}

/* ----------------------hình ảnh sản phẩm-------------------- */
.product-main-list-content-card-img {
  width: 100%;
  height: 55vh;
  border-radius: 5px;
  object-fit: fill;
  align-items: center;
}

.content_card {
  width: 100%;
  position: absolute;
  bottom: -5vh;
  background-image: linear-gradient(#ffffffc3, #e2f0f9);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  transition: 0.5s;
}

.product-main-list-content-card:hover .content_card {
  bottom: 0;
  opacity: 1;
}

/* ------------------------tên sản phẩm----------------------- */
.product-main-list-content-card-name {
  width: 100%;
  padding-top: 5px;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
}

/* -----------------------giá sản phẩm---------------------- */

.product_price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-main-list-content-card-price {
  padding-left: 20px;
  padding-right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.price_reduced {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-top: 6px;
  font-weight: bold;
  color: rgb(141, 141, 141);
  text-decoration: line-through;
}
/* -------------------số lượng sản phẩm--------------------- */
.product-main-list-content-card-number {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-bottom: 10px;
}

.slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 250px;
	width: 100%;
  border-radius: 15px;
}

.slider-container h1 {
	color: #fff;
	font-size: 10px;
	letter-spacing: 5px;
	position: relative;
	z-index: 100;
	text-align: center;
}

.slider-container::after {
	background-color: #000;
	content: '';
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 250px;
	width: 100%;
	transform: scale(1.1);
	transition: opacity .6s ease;
}

.slide.active {
	animation: grow 4s linear forwards;
	opacity: 1;
}

@keyframes grow {
	0%, 20% {
		transform: scale(1);
	}
	
	75%, 100% {
		transform: scale(1.15);
	}
}

.controls-container {
	position: absolute;
	top: 50%;
	right: 10px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	z-index: 2;
}

.control {
	background-color: #fff;
	cursor: pointer;
	opacity: 0.5;
	margin: 6px;
	height: 40px;
	width: 5px;
	transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.control.active, .control:hover {
	background-color: #fff;
	opacity: 1;
	transform: scale(1.2);
}