* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------------------căn lề----------------- */
.product_container {
  width: 83%;
  padding: 0;
  margin: 0 auto;
}

/* --------------------------------------------main-------------------------------------------- */
.product-main {
  margin-top: 70px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

/* -----------------------------------chỉnh phần trên của main----------------------------------- */
.product-main-top {
  width: 100%;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* ---------------------chỉnh phần bên trái của main-top--------------- */
.product-main-top-left {
  width: 24%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

/* ---------------------------tiêu đề của phần bên trái------------------- */
.product-main-top-left-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #63a3f7;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 4%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* ----------------chỉnh thẻ p trong phần tiêu để bên trái------------- */
.product-main-top-left-title p {
  margin-left: 2%;
}

/* ----------------phần nội dung của phần bên trái của main_top------------- */
.product-main-top-left-content {
  width: 100%;
  height: 370px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* ----------------------------------hết phàn bên trái của main_top-------- */

/* ----------------------------------phần giữa của main_top------------------- */
.product-main-top-center {
  width: 47%;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -----------------------silde phần giữa của main-top--------------- */
.product-main-top-center-slide {
  width: 100%;
  border-radius: 15px;
}

/* -------------------------chỉnh boder cho silder-------------------- */
.product-main-top-center-slide .slick-list {
  border-radius: 15px;
}

/* ---------------vị trí nút tiến------------- */
.product-main-top-center-slide .slick-next {
  right: 10px;
}
/*-------------- vị trí nút lùi----------- */
.product-main-top-center-slide .slick-prev {
  left: 10px;
  display: inline;
  z-index: 999;
}

/* ----------------------chỉnh hình ảnh cho slider----------------------- */
.product-main-top-center-slide-img {
  width: 100%;
  height: 54vh;
  border-radius: 15px;
}

/* --------------------phần list thuộc phần giữa của main_top------------------- */
.product-main-top-center-content {
  width: 100%;
  background-color: #63a3f7;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 5px;
}

/* ------------------------------tiêu đề của phần list------------------------- */
.product-main-top-center-content p {
  color: white;
  padding: 1.5% 0 1% 4.5%;
}

/* ------------------------------tùy chỉnh list------------------------------- */
.product-main-top-center-content-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 1.5%;
}

/* --------------------------tùy chỉnh item của list-------------------------- */
.product-main-top-center-content-list-item {
  width: 25%;
}

/* -------------------------tùy chỉnh thẻ img trong item của list---------------- */
.product-main-top-center-content-list-item-img {
  width: 100%;
  height: 54vh;
}

/* ----------------------------------phần bên phải của main_top----------------- */
.product-main-top-right {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffede3;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ----------------------------phần người dùng--------------------------------- */
.product-main-top-right-user {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ---------------------icon-------------------- */
.product-main-top-right-user-icon {
  width: 20%;
}

/* --------------nội dung của phần người dùng------ */
.product-main-top-right-user-information {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* ------tiêu đề của nội dung người dùng------ */
.product-main-top-right-user-information-title {
  width: 100%;
}

/* -----phần button của nội dung người dùng------ */
.product-main-top-right-user-information-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* ---chỉnh button bên trái--- */
.product-main-top-right-user-information-button-left {
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
}

/* ---chỉnh button bên phải--- */
.product-main-top-right-user-information-button-right {
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin-left: 5%;
}

/* --------------tiêu đề của chính sách dịch vụ khách hàng------------ */
.product-main-top-right-title {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

/* -----------------nội dung dịch vụ khách hàng--------------------- */
.product-main-top-right-service {
  width: 90%;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.product-main-top-right-service-top {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.product-main-top-right-service-top-left {
  width: 45%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-items: center;
  padding: 6px;
}

.product-main-top-right-service-top-right {
  width: 45%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 6px;
  align-items: center;
}

.product-main-top-right-service-bottom {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.product-main-top-right-service-bottom-left {
  width: 45%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 6px;
  align-items: center;
}

.product-main-top-right-service-bottom-right {
  width: 45%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 6px;
  align-items: center;
}

/* ----------------- kết thúc nội dung dịch vụ khách hàng--------------------- */

/* ------------------------------hình ảnh------------------------------------ */
.product-main-top-right-image {
  width: 90%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.product-main-top-right-image img {
  width: 100%;
  height: 200px;
}
/* ------------------------------------------kết thúc phần trên của main----------------------------- */

/* -------------------------------------------phần list sản phẩm-------------------------------------- */
.product-main-list {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

/* --------------------------------tiêu đề----------------------------------- */
.product-main-list-title {
  width: 100%;
  margin-top: 50px;
  background-color: #63a3f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* --------------------------phần item list sản phẩm------------------------ */
.product-main-list-content {
  width: 103%;
}
.product-main-list-content-card {
  width: 23.5%;
  margin: 1% 1% 0 0;
  display: flex;
  flex-direction: column;
  float: left;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reduce {
  width: 55px;
  height: 55px;
  right: 0;
  position: absolute;
}

.reduce_background {
  width: 55px;
  height: 55px;
  position: relative;
  background-image: url("../assets/backgroundgiamgia.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.reduce_content {
  width: 22px;
  height: 22px;
  padding-top: 4px;
  margin-top: 11px;
  margin-right: 18px;
  background-color: white;
  border-radius: 50%;
  float: right;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
}

/* ----------------------hình ảnh sản phẩm-------------------- */
.product-main-list-content-card-img {
  width: 100%;
  height: 55vh;
  border-radius: 15px;
  object-fit: fill;
  align-items: center;
}

.content_card {
  width: 100%;
  position: absolute;
  bottom: -5vh;
  background-image: linear-gradient(#e4f3fcd8, #b4dff8);
  border-radius: 15px;
  opacity: 0;
  transition: 1s;
}

.product-main-list-content-card:hover .content_card {
  transform: translate3d(0, -40%, 0);
  opacity: 1;
}

/* ------------------------tên sản phẩm----------------------- */
.product-main-list-content-card-name {
  width: 100%;
  padding-top: 5px;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
}

/* -----------------------giá sản phẩm---------------------- */

.product_price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-main-list-content-card-price {
  width: 35%;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.price_reduced {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: line-through;
  padding-top: 3px;
}
/* -------------------số lượng sản phẩm--------------------- */
.product-main-list-content-card-number {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-bottom: 10px;
}

/* ------------------------reponsive------------------------------- */

@media only screen and (max-width: 1280px) {
  .reduce_content {
    width: 22px;
    height: 2.8vh;
    padding-top: 5px;
    margin-top: 5.5px;
    margin-right: 15%;
    background-color: white;
    border-radius: 50%;
    float: right;
    text-align: center;
    font-weight: 800;
    font-size: 9px;
  }
  .product-main-top-center-slide-img {
    width: 100%;
    height: 51.5vh;
    border-radius: 15px;
  }

  .product-main-list-content-card:hover .content_card {
    transform: translate3d(0, -40%, 0);
    opacity: 1;
  }

  .product-main-list-content-card-price{
    width: 50%;
  }

}

@media only screen and (max-width: 1024px) {
  /* ------tiêu đề của nội dung người dùng------ */
  .product-main-top-right-user-information-title {
    width: 100%;
    padding-left: 14%;
    font-size: 13px;
  }

  /* -----phần button của nội dung người dùng------ */
  .product-main-top-right-user-information-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 8%;
  }

  /* ---chỉnh button bên trái--- */
  .product-main-top-right-user-information-button-left {
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 10px;
    padding: 5px;
  }

  /* ---chỉnh button bên phải--- */
  .product-main-top-right-user-information-button-right {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
  }

  .product-main-top-right-title p {
    font-size: 13px;
  }

  /* -----------------nội dung dịch vụ khách hàng--------------------- */

  .product-main-top-right-service-top-left {
    width: 45%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    padding: 6px;
  }

  .product-main-top-right-service-top-right {
    width: 45%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding: 6px;
    align-items: center;
  }

  .product-main-top-right-service-bottom-left {
    width: 45%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding: 6px;
    align-items: center;
  }

  .product-main-top-right-service-bottom-right {
    width: 45%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding: 6px;
    align-items: center;
  }

  /* ----------------- kết thúc nội dung dịch vụ khách hàng--------------------- */

  /* ------------------------------hình ảnh------------------------------------ */
  .product-main-top-right-image {
    width: 90%;
    margin-top: 18px;
    padding-bottom: 15px;
  }

  .product-main-top-right-image img {
    width: 100%;
    height: 100px;
  }

  .product-main-top-left-content {
    width: 100%;
    height: 270px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .reduce {
    width: 70px;
    height: 6vh;
    right: 0;
    position: absolute;
  }

  .reduce_background {
    width: 70px;
    height: 6vh;
    position: relative;
    background-image: url("../assets/backgroundgiamgia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .reduce_content {
    width: 18px;
    height: 2.8vh;
    padding-top: 2px;
    margin-top: 7px;
    margin-right: 12%;
    float: right;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-weight: 800;
    font-size: 8px;
  }

  .product-main-list-content-card:hover .content_card {
    transform: translate3d(0, -30%, 0);
    opacity: 1;
  }

}

@media only screen and (max-width: 912px) {
  .product-main-top-left-content{
    height: 250px;
  }  
  .product-main-top-center-slide-img {
    width: 100%;
    height: 21vh;
    border-radius: 15px;
  }

  .product-main-top-right-user-icon{
  margin-top: -10px;
    }

  .product-main-top-right-user-information-title {
    width: 100%;
    padding-left: 15%;
    font-size: 12px;
  }

  .product-main-top-right-user-information-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 9%;
  }

  /* ---chỉnh button bên trái--- */
  .product-main-top-right-user-information-button-left {
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 9px;
    padding: 5px;
  }

  /* ---chỉnh button bên phải--- */
  .product-main-top-right-user-information-button-right {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 9px;
  }

  .product-main-top-right-title p{
    font-size: 11px;
  }

  .product-main-top-right-service-top-left{
    font-size: 9px;
  }

  .product-main-top-right-service-top-right{
    font-size: 9px;
  }

  .product-main-top-right-service-bottom-left{
    font-size: 9px;
  }

  .product-main-top-right-service-bottom-right{
    font-size: 9px;
  }

  .product-main-list-content-card-img {
    width: 100%;
    height: 25vh;
    border-radius: 15px;
    object-fit: fill;
    align-items: center;
  }

  .reduce {
    width: 55px;
    height: 3vh;
    right: 0;
    position: absolute;
  }
  
  .reduce_background {
    width: 55px;
    height: 3vh;
    position: relative;
    background-image: url("../assets/backgroundgiamgia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .reduce_content {
    width: 22px;
    height: 2.8vh;
    padding-top: 6px;
    margin-top: 5px;
    margin-right: 8px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    float: right;
    text-align: center;
    font-weight: 800;
    font-size: 9px;
  }

  .product-main-list-content-card:hover .content_card {
    transform: translate3d(0, -58%, 0);
    opacity: 1;
  }

}

@media only screen and (max-width: 600px) {
  .main_small_product_card {
    width: 70%;
    margin-left: 15%;
  }

  .main_intimate {
    margin-top: 13%;
  }
}
